.onboarding-screen-search {
    background-color: undefined;
    background-color: var(--background-primary);
    border: undefined;
    border: 1px solid var(--divider-primary);
    border-radius: 35px;
    color: #72727d;
    display: inline-block;
    height: 54px;
    margin: 10px 0;
    padding: 14px 20px;
    position: relative;
    width: 800px;
}

.onboarding-screen-artists {
    text-align: center;
}

.onboarding-screen-search-icon {
    left: 20px;
    position: absolute;
    top: 21px;
}

.svg-icon {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
    vertical-align: top;
}

.onboarding-screen-search-input {
    background-color: rgba(0,0,0,0);
    border: none;
    color: undefined;
    color: var(--text-primary);
    font-size: 16px;
    vertical-align: middle;
    width: calc(100% - 70px);
}