.artist_info {
  font-size: 25px;
  margin-left: 46px;
  padding-top: 49px;
}

.artist_photo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  float: left;
  margin-right: 36px;
  margin-left: 20px;
}

.artist_info {
  font-size: 25px;
  margin-left: 46px;
  padding-top: 49px;
}

._info {
  font-size: 20px;
  color: #31859D;
}
.card_info {
  font-size: 15px;
  color: #31859D;
}